<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerUniqueIDList</key>
	<dict>
		<key>2886771586</key>
		<string>C713EE07-A9FF-4DD3-9F8F-87B5DA12FA75</string>
	</dict>
</dict>
</plist>
